<footer class="bg-dark  pt-5">
    <div class="container-fluid">
        <div class="row mx-auto">
            <div class="col-sm-6 col-md-3 text-center">
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 footer-text-color">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 footer-text-color">Motto</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 footer-text-color">About us</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 footer-text-color">Products</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 footer-text-color">News</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 text-center">
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 footer-text-color">Contact us</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 footer-text-color">Team</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 footer-text-color">Login</a></li>
                    
                </ul>
            </div>
            <div class="col-md-6 text-center footer-text-color">
                <h3>VijayDeep Agencies</h3>
                <p><%= address %></p>
            </div>
        </div>
        <hr class="footer-text-color">
        <p class="mx-5 footer-text-color text-center">VijayDeep Agencies © 2021</p>
        <hr class="footer-text-color">
        <p style=" font-size: small;"class="m-0 footer-text-color">Website was Made By Harshit Daga & Rohan Dalvi</p>s
    </div>
</footer>