<footer class="bg-dark  pt-5">
    <div class="container-fluid">
        <div class="row mx-auto">
            <div class="col-sm-6 col-md-3 text-center">
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="/" class="nav-link p-0 footer-text-color">Home</a></li>
                    <li class="nav-item mb-2"><a href="/#motto-sec" class="nav-link p-0 footer-text-color">Motto</a></li>
                    <li class="nav-item mb-2"><a href="/about" class="nav-link p-0 footer-text-color">About us</a></li>
                    <li class="nav-item mb-2"><a href="/products" class="nav-link p-0 footer-text-color">Products</a></li>
                    <li class="nav-item mb-2"><a href="/news" class="nav-link p-0 footer-text-color">News</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 text-center">
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="/contact" class="nav-link p-0 footer-text-color">Contact us</a></li>
                    <li class="nav-item mb-2"><a href="/team" class="nav-link p-0 footer-text-color">Team</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 footer-text-color">Login</a></li>
                    <li class="nav-item mb-2"><a href="/disclaimer" class="nav-link p-0 footer-text-color">Attributions/Disclaimer</a></li>
                </ul>
            </div>
            <div class="col-md-6 text-center footer-text-color">
                <h3>Vijaydeep Agencies</h3>
                <p><%= address %></p>
            </div>

            <hr class="footer-text-color">
            <p class=" footer-text-color text-center">Vijaydeep Agencies © 2021</p>

        </div>
    </div>
</footer>