<!doctype html>
<html lang="en">

  <%- include("partials/head",{title:title,meta_description : meta_description}); -%>

  <body>
    <%- include("partials/navbar",{role:role,contact1:contact1,contact2:contact2,email:email}); -%>

        <!-- Main content -->
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <h1 style=" text-align: center; " class="align-self-center text-dark mt-5"> <strong>Our All Star
                            Team</strong>
                    </h1>
                </div>
            </div>
            <div class="row justify-content-center" id = "team_head">
                <div class="col-lg-3"></div>
                <div class="col-lg-6 text-center p-5">
                    <div style=" display:flex;
                    justify-content:center;
                    flex-direction: column;
                    align-items:center;" class="  border p-5 border-2 rounded-3 shadow bg-light bg-gradient">
    
    
                        <div style="max-width: 300px; max-height: 300px;" class="ratio ratio-1x1">
                            <img class="shadow mx-auto" style="border-radius: 50%; width:100%; " src="image.jpg" />
                        </div>
    
                        <div class="mt-3">
                            <h2>Name</h2>
                            <h5>position</h5>
                            <h4 style="font-size: medium;">This employee is the most hard working and studious employyee
                                of the company to have ever lived on earth he does everything corrcet and lives to
                                10,000 years of age</h4>
    
                            <hr>
                            <div style="margin: 5%;"> <img src="icons8-phone-ringing.gif" height="26px" width="auto">
                                &nbsp;<a href="tel:8425933317" class="link-danger"
                                    style=" font-size: 0.75pc; color:rgb(17, 17, 17) ; text-decoration: none;">8425933317
                                    /</a> <a href="tel:9833896451" class="link-danger"
                                    style=" font-size: 0.75pc; color:rgb(17, 17, 17) ; text-decoration: none;">
                                    9833896451</a></div>
    
                            <div style="margin: 5%;"> <img src="icons8-gmail-logo.gif" height="26px" width="auto">
                                &nbsp; <a href="mailto:vijaydeepagencies@gmail.com" class="link-danger"
                                    style="font-size: 0.75pc; color:rgb(17, 17, 17) ; text-decoration: none;">vijaydeepagencies@gmail.com</a>
                            </div>
    
    
                            <hr>
                            <a style="text-decoration: none; margin-right: 5px;" href="">
                                <img src="icons8-linkedin-30 (1).png" height="26px" width="auto">
                            </a>
                            <a style="text-decoration: none; margin-right: 5px;" href="">
                                <img src="icons8-twitter-24.png" height="26px" width="auto">
                            </a>
                            <a style="text-decoration: none; margin-right: 5px;" href="">
                                <img src="icons8-instagram-30.png" height="26px" width="auto">
                            </a>
                            <a style="text-decoration: none; margin-right: 5px;" href="">
                                <img src="icons8-facebook-30.png" height="26px" width="auto">
                            </a>
    
    
    
                        </div>
    
                    </div>
                </div>
                <div class="col-lg-3"></div>
            </div>
            <div class="row justify-content-center" id = "team_rest">

                <div class="col-md-6 col-lg-4 text-center p-5 ">
                    <div style="display:flex;justify-content:center;flex-direction: column; align-items:center;" class="  border p-5 border-2 rounded-3 shadow  bg-light bg-gradient">
                        <div style="max-height:300px; max-width:300px;" class="ratio ratio-1x1">
                            <img class="shadow mx-auto" style=" border-radius: 50%; width:100%;  " class=""
                                src="image.jpg" />
                        </div>
    
                        <div class="mt-3">
                            <h2>Name</h2>
                            <h5>position</h5>
                            <h4 style="font-size: medium;">This employee is the most hard working and studious employyee
                                of the company to have ever lived on earth he does everything corrcet and lives to
                                10,000 years of age</h4>
    
                            <hr>
                            <div style="margin: 5%;"> <img src="icons8-phone-ringing.gif" height="26px" width="auto">
                                &nbsp;<a href="tel:8425933317" class="link-danger"
                                    style=" font-size: 0.75pc; color:rgb(17, 17, 17) ; text-decoration: none;">8425933317
                                    /</a> <a href="tel:9833896451" class="link-danger"
                                    style=" font-size: 0.75pc; color:rgb(17, 17, 17) ; text-decoration: none;">
                                    9833896451</a></div>
    
                            <div style="margin: 5%;"> <img src="icons8-gmail-logo.gif" height="26px" width="auto">
                                &nbsp; <a href="mailto:vijaydeepagencies@gmail.com" class="link-danger"
                                    style="font-size: 0.75pc; color:rgb(17, 17, 17) ; text-decoration: none;">vijaydeepagencies@gmail.com</a>
                            </div>
    
    
                            <hr>
                            <a style="text-decoration: none; margin-right: 5px;" href="">
                                <img src="icons8-linkedin-30 (1).png" height="26px" width="auto">
                            </a>
                            <a style="text-decoration: none; margin-right: 5px;" href="">
                                <img src="icons8-twitter-24.png" height="26px" width="auto">
                            </a>
                            <a style="text-decoration: none; margin-right: 5px;" href="">
                                <img src="icons8-instagram-30.png" height="26px" width="auto">
                            </a>
                            <a style="text-decoration: none; margin-right: 5px;" href="">
                                <img src="icons8-facebook-30.png" height="26px" width="auto">
                            </a>
    
    
    
                        </div>
    
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 text-center p-5 ">
                    <div style="display:flex;
                justify-content:center;
                flex-direction: column;
                align-items:center;" class="  border p-5 border-2 rounded-3 shadow bg-light bg-gradient">
                        <div style="max-height:300px; max-width:300px;" class="ratio ratio-1x1">
                            <img class="shadow mx-auto" style=" border-radius: 50%; width:100%;  " class=""
                                src="image.jpg" />
                        </div>
    
                        <div class="mt-3">
                            <h2>Name</h2>
                            <h5>position</h5>
                            <h4 style="font-size: medium;">This employee is the most hard working and studious employyee
                                of the company to have ever lived on earth he does everything corrcet and lives to
                                10,000 years of age</h4>
    
                            <hr>
                            <div style="margin: 5%;"> <img src="icons8-phone-ringing.gif" height="26px" width="auto">
                                &nbsp;<a href="tel:8425933317" class="link-danger"
                                    style=" font-size: 0.75pc; color:rgb(17, 17, 17) ; text-decoration: none;">8425933317
                                    /</a> <a href="tel:9833896451" class="link-danger"
                                    style=" font-size: 0.75pc; color:rgb(17, 17, 17) ; text-decoration: none;">
                                    9833896451</a></div>
    
                            <div style="margin: 5%;"> <img src="icons8-gmail-logo.gif" height="26px" width="auto">
                                &nbsp; <a href="mailto:vijaydeepagencies@gmail.com" class="link-danger"
                                    style="font-size: 0.75pc; color:rgb(17, 17, 17) ; text-decoration: none;">vijaydeepagencies@gmail.com</a>
                            </div>
    
    
                            <hr>
                            <a style="text-decoration: none; margin-right: 5px;" href="">
                                <img src="icons8-linkedin-30 (1).png" height="26px" width="auto">
                            </a>
                            <a style="text-decoration: none; margin-right: 5px;" href="">
                                <img src="icons8-twitter-24.png" height="26px" width="auto">
                            </a>
                            <a style="text-decoration: none; margin-right: 5px;" href="">
                                <img src="icons8-instagram-30.png" height="26px" width="auto">
                            </a>
                            <a style="text-decoration: none; margin-right: 5px;" href="">
                                <img src="icons8-facebook-30.png" height="26px" width="auto">
                            </a>
    
    
    
                        </div>
    
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 text-center p-5 ">
                    <div style="display:flex;
                justify-content:center;
                flex-direction: column;
                align-items:center;" class="  border p-5 border-2 rounded-3 shadow  bg-light bg-gradient">
                        <div style="max-height:300px; max-width:300px;" class="ratio ratio-1x1">
                            <img class="shadow mx-auto" style=" border-radius: 50%; width:100%;  " class=""
                                src="image.jpg" />
                        </div>
    
                        <div class="mt-3">
                            <h2>Name</h2>
                            <h5>position</h5>
                            <h4 style="font-size: medium;">This employee is the most hard working and studious employyee
                                of the company to have ever lived on earth he does everything corrcet and lives to
                                10,000 years of age</h4>
    
                            <hr>
                            <div style="margin: 5%;"> <img src="icons8-phone-ringing.gif" height="26px" width="auto">
                                &nbsp;<a href="tel:8425933317" class="link-danger"
                                    style=" font-size: 0.75pc; color:rgb(17, 17, 17) ; text-decoration: none;">8425933317
                                    /</a> <a href="tel:9833896451" class="link-danger"
                                    style=" font-size: 0.75pc; color:rgb(17, 17, 17) ; text-decoration: none;">
                                    9833896451</a></div>
    
                            <div style="margin: 5%;"> <img src="icons8-gmail-logo.gif" height="26px" width="auto">
                                &nbsp; <a href="mailto:vijaydeepagencies@gmail.com" class="link-danger"
                                    style="font-size: 0.75pc; color:rgb(17, 17, 17) ; text-decoration: none;">vijaydeepagencies@gmail.com</a>
                            </div>
    
    
                            <hr>
                            <a style="text-decoration: none; margin-right: 5px;" href="">
                                <img src="icons8-linkedin-30 (1).png" height="26px" width="auto">
                            </a>
                            <a style="text-decoration: none; margin-right: 5px;" href="">
                                <img src="icons8-twitter-24.png" height="26px" width="auto">
                            </a>
                            <a style="text-decoration: none; margin-right: 5px;" href="">
                                <img src="icons8-instagram-30.png" height="26px" width="auto">
                            </a>
                            <a style="text-decoration: none; margin-right: 5px;" href="">
                                <img src="icons8-facebook-30.png" height="26px" width="auto">
                            </a>
    
    
    
                        </div>
    
                    </div>
                </div>
    
            </div>
    
        </div>
        </div>
    </main>

    <%- include("partials/footer",{contact1:contact1,contact2:contact2,email:email,address:address}); -%>

    <%- include("partials/tail"); -%>

    <script src = "/javascripts/team.js"></script>

  </body>

</html>
